body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:white;
    background:black;
  }

  /* Link Styles */
  
  a {
    text-decoration: none;
    color:black;
  }
  a:hover {
    color: white;
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    background: rgb(226, 172, 35);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    
  }
  .nav {
    display: flex;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav .name {
      display: block;
      margin-right: auto;
      color: white;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a:hover {
    color: white;
  }
  
  header {
    text-align:center;
    background: url('workk.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 470px;
    line-height: 1.5;
    
  }
  
  p {
    margin: 40px;
    padding: 20px 20px 20px;
    max-width: 2000px;
    text-align: left;
    background: rgb(218, 165, 32);
    border-bottom: 8px solid white;
    transition: all .5s;
    box-shadow: 0 8px 10px 0 rgb(133, 2, 2), 0 8px 20px 0 rgb(128, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    
  }

  h1{
    background-color: white;
    text-align: center;
    color:black;
    padding: 20px;
    font-size: 250%;
    border-radius: 8px;
    border: 6px solid rgb(218, 165, 32);
    transition: width 2s, height 2s, transform 2s;
    box-shadow:0 8px 10px 0 rgb(218, 165, 32), 0 8px 20px 0 rgb(218, 165, 32);
  }
 
  
  h2{
    border-radius: 10px;
    background:maroon;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    font-size: 150%;
    text-align: center;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px,30px;
    opacity: 0.4;
    transition: all 0.5s;
  }
  a.snapchat {
    background-image: url(snapchat-logo.png);
  }
  a.instagram {
    background-image: url(Instagram_logo_2016.svg.png);
  }
  a.outlook {
    background-image: url(Microsoft_Outlook_2013-2019_logo.svg.png);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
  
    .nav {
      max-width: 1200px;
      padding: 0 30px;
    }

    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }
  
  